.tabSet {
  max-width: 100%;
  margin: 1em auto;
  overflow: hidden;
  @extend %clearfix;
  @include screen("mobile") {
    width: auto;
    height: auto !important;
  }
}
.tabs {
  position: relative;
  & > .tabItem {
    float: left;
    margin: 0;
    padding: 0;
    // @include box-sizing;
    font-size: 1em;
    line-height: 1;

    @include screen("mobile") {
      float: none;
      width: 100%;
    }

    & > a {
      display: block;
      // padding: 16px 80px 14px;
      text-align: center;
      // background-color: #4d3c9b;
      // color: #fff;
      font-weight: bold;
      text-decoration: none;
      // @include text-overflow;
      // border-radius: 4px 4px 0 0;
      @include box-sizing;
      @include screen("mobile") {
        width: 100% !important;
        // border-bottom: 1px solid #888;
        border-radius: 0;
      }
      &:hover {
        // background: #b6107e;
      }
    }
    &.active > a {
      // background-color: #b6107e;
      // color: #fff;
      position: relative;

      &:focus {
        box-shadow: none;
      }
      // &:before {
      //   content: "";
      //   width: 0px;
      //   height: 0px;
      //   border-style: solid;
      //   border-width: 12px 13px 0 13px;
      //   border-color: #b6107e transparent transparent transparent;
      //   transform: rotate(0deg);
      //   display: block;
      //   position: absolute;
      //   left: 50%;
      //   margin-left: -7px;
      //   bottom: -12px;
      //   z-index: 1;
      // }
      @include screen("mobile") {
        border-color: #bbb;
      }
    }
  }
}
// //多組 可設定差異
// .example-2 {
//   .tabItem > a:hover {
//     background: $secondaryColor;
//   }
//   .tabItem.active > a {
//     background: $secondaryColor;
//   }
// }
// 顯示content
.active + .tabContent {
  display: block;
}
.tabContent {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  clear: both;
  padding: 30px 36px;
  display: none;
  @include screen("mobile") {
    position: static;
  }
  ul {
    @include li-reset;
  }
  // li {
  //   // margin: 0 0 1.3em 0;
  //   padding: 0;
  //   line-height: 1.6;
  //   // border-bottom: 1px #CCC dashed;
  //   @include screen("mobile") {
  //     @include text-overflow();
  //   }
  //   a {
  //     @include aSetting_nocolor;
  //   }
  //   time {
  //     display: inline-block;
  //     margin: 0 0 0 1em;
  //     font-size: 0.813em;
  //     color: #666;
  //   }
  // }
}
