.nurses {
  padding: 280px 3em 0 3em;
  background: url(../images/inner_bg2.png) no-repeat center top,
    url(../images/nurse/nurse_bg.jpg) no-repeat right 250px;
  background-color: #fff;
  @include screen("mobile") {
    background: none;
    padding: 5em 1em 0 1em;
  }
  .more {
    margin: 0 auto 20px auto;
    text-align: center;
    display: block;
    line-height: 42px;
    position: relative;
    z-index: 99;
    white-space: nowrap;
    a {
      padding: 12px 26px;
      color: #fff;
      border-radius: 20px;
      background: linear-gradient(180deg, #ff9734 0%, #ff7b42 100%);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      font-size: 0.875rem;
      &:after {
        content: "";
        width: 18px;
        height: 18px;
        background: url(../images/nurse/arrow_more.png) center center no-repeat;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
      }
      &:hover,
      &:focus {
        background: #b6107e;
        color: #fff;
      }
    }
  }
}
.nurseNumber_sec {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 60px;
  padding-bottom: 30px;
  @include screen("tablet") {
    flex-direction: column;
    justify-content: flex-start;
  }
  @include screen("mobile") {
    margin-top: 0;
  }
  h2.h2title {
    writing-mode: vertical-rl;
    font-size: 1.875rem;
    color: #333;
    margin-right: 30px;
    margin-top: 0;
    letter-spacing: 2px;
    @include screen("tablet") {
      writing-mode: horizontal-tb;
      margin-right: 0;
      margin-bottom: 16px;
      font-size: 1.5rem;
      color: #555;
    }

    .entitle {
      margin-top: 0;
      color: #4f4f4f;
      font-size: 1.25rem;
      letter-spacing: 1px;
      @include screen("tablet") {
        color: #888;
        font-size: 0.9375rem;
      }
    }
  }
  .update {
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 0.875rem;
    @include screen("mobile") {
      position: relative;
      top: auto;
      margin-bottom: 8px;
    }
  }
  .number_block {
    margin-top: 100px;
    flex-grow: 1;
    @include screen("tablet") {
      margin-top: 0;
    }
    .number_row {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 20px;
      @include screen("mobile") {
        flex-wrap: wrap;
      }

      .block {
        background: #fff;
        border-radius: 9px;
        box-shadow: 0px 7px 28px 0px rgba(34, 34, 34, 0.08);
        padding: 85px 20px 25px 20px;
        box-sizing: border-box;
        position: relative;
        height: 220px;
        display: flex;
        @include screen("mobile") {
          padding: 60px 20px 25px 20px;
          height: auto;
        }
        &.block1 {
          width: 26%;
          flex-direction: column;
          justify-content: space-between;
          &.gender {
            background: url(../images/nurse/gender_bg.png) no-repeat right top;
          }
          @include screen("mobile") {
            width: 100%;
          }
        }
        &.block2 {
          flex-grow: 1;
          justify-content: space-between;
        }
        &.block3 {
          flex-grow: 1;
          flex-direction: column;
          justify-content: space-between;
        }
        .blockIcon {
          position: absolute;
          left: 20px;
          top: 25px;
          img {
            max-height: 24px;
            width: auto;
          }
        }
        .blockTitle {
          font-size: 1.25rem;
          font-weight: bold;
          color: #4f4f4f;
          .entitle {
            display: block;
            font-size: 0.75rem;
            line-height: 120%;
            margin-top: 4px;
          }
        }
        .number {
          font-weight: bold;
          margin-top: 1rem;
          span {
            font-size: 1.75rem;
            font-family: "Century Gothic";
            margin-right: 4px;
            color: #b6107e;
            em {
              font-style: normal;
              color: #381ddb;
            }
            i {
              font-style: normal;
              color: #4f4f4f;
              margin: 0 4px;
            }
          }
        }
      }
    }
    .chart_row {
      margin: 30px 0;
      h3.h3title {
        .entitle {
          display: block;
          font-size: 1rem;
          color: #888;
        }
        &:after {
          content: "";
          width: 105px;
          height: 4px;
          background: #b6107e;
          border-radius: 30px;
          display: block;
          margin-top: 4px;
        }
      }
      .chart {
        background: #fff;
        border-radius: 9px;
        box-shadow: 0px 7px 28px 0px rgba(34, 34, 34, 0.08);
        padding: 1rem;
      }
    }
  }
}
.circleChart {
  .circle {
    width: 90px;
    .circular-chart {
      display: block;
      margin: 10px auto;
      max-width: 100%;
      /*   max-height: 100px; */
      aspect-ratio: 1;
    }
    .circle-bg {
      fill: none;
      stroke: #ffe9e9;
      stroke-width: 3.2;
    }

    .circle {
      fill: none;
      stroke-width: 3.2;
      stroke-linecap: round;
      animation: progress 1s ease-out forwards;
    }
    @keyframes progress {
      0% {
        stroke-dasharray: 0 100;
      }
    }

    .circular-chart.orange .circle {
      stroke: #b6107e;
    }

    .percentage {
      fill: #b6107e;
      font-family: "Century Gothic";
      font-weight: bold;
      font-size: 0.7em;
      text-anchor: middle;
    }
  }
}
.barChart {
  .bar {
    display: flex;
    height: 100px;
    padding: 20px 0 0;
    .item {
      // width: calc(100% / 3);
      width: 30px;
      display: flex;
      flex-direction: column;
      &:nth-child(2) .line {
        background: #00a39a;
      }
      &:nth-child(3) .line {
        background: #f07d25;
      }
    }
    .num {
      height: 20px;
      font-size: 0.625rem;
      text-align: center;
    }
    .lineBox {
      flex-grow: 1;
      order: -1;
      display: flex;
      align-items: flex-end;
      position: relative;
      .line {
        width: 100%;
        position: relative;
        background: #913589;
        span {
          position: absolute;
          bottom: calc(100% + 3px);
          font-size: 0.75rem;
          font-weight: bold;
          line-height: 100%;
          width: 100%;
          text-align: center;
          font-family: "Century Gothic";
        }
      }
    }
  }
}
.nursePlan_sec {
  position: relative;
  padding: 90px 0 30px 0;
  @include screen("mobile") {
    padding: 60px 0 30px 0;
  }
  &:after {
    content: "";
    min-height: 668px;
    display: block;
    background: url(../images/nurse/plan_bg.png) no-repeat center top;
    position: absolute;
    left: calc(-3em - 15px);
    right: calc(-3em - 15px);
    top: -1px;
    bottom: 0;
  }
  .h2title {
    margin-top: 0;
    color: #444;
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    @include screen("tablet") {
      color: #555;
    }
    .entitle {
    }
  }
  .h3title {
    margin-top: 0;
    color: #444;
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    @include screen("tablet") {
      color: #555;
    }
    .entitle {
      font-size: 0.9375rem;
      color: #888;
      line-height: 140%;
      display: block;
      margin-top: 4px;
    }
  }
  .date {
    text-align: center;
    font-size: 0.875rem;
    position: relative;
    z-index: 1;
  }
  .journey_block {
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    .journey {
      .journey_item {
        display: flex;
        padding-bottom: 2rem;
        gap: 30px;
        position: relative;
        @include screen("mobile") {
          gap: 20px;
        }
        &:after {
          content: "";
          width: 2px;
          height: 100%;
          background: #b6107e;
          display: block;
          position: absolute;
          left: 50px;
        }
        .month {
          font-size: 1.125rem;
          font-weight: bold;
          color: #fff;
          background: #b6107e;
          display: flex;
          width: 100px;
          height: 100px;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-family: "Century Gothic";
          flex-shrink: 0;
          position: relative;
          z-index: 2;
          @include screen("mobile") {
            width: 80px;
            height: 80px;
          }
        }
        .day {
          flex-grow: 1;
          .event {
            margin-bottom: 1rem;
            .date {
              color: #959595;
              padding: 6px 10px;
              border-radius: 16px;
              border: 1px solid #9e9e9e;
              background: #fff;
              line-height: 100%;
              display: inline-block;
              margin-bottom: 10px;
            }
            .eventTitle {
              font-size: 1.375rem;
              font-weight: bold;
              margin-bottom: 8px;
              color: #444;
              line-height: 140%;
            }
            .eventText {
              color: #3b3b3b;
            }
          }
        }
        &:last-child::after {
          display: none;
        }
      }
    }
  }
  .policy_block {
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    .policy {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      @include screen("mobile") {
        flex-direction: column;
      }
      .policy_item {
        max-width: 210px;
        @include screen("mobile") {
          max-width: 100%;
          margin-bottom: 1rem;
        }
        &.workplace a {
          background: url(../images/nurse/nurse1.png) no-repeat center 30px;
          background-color: #fff;
          @include screen("mobile") {
            background: url(../images/nurse/nurse1.png) no-repeat 0 0;
          }
          &:hover,
          &:focus {
            background-color: #ffdaf2;
          }
        }
        &.salary a {
          background: url(../images/nurse/nurse2.png) no-repeat center 30px;
          @include screen("mobile") {
            background: url(../images/nurse/nurse2.png) no-repeat 0 0;
          }
          &:hover,
          &:focus {
            background-color: #fad5d3;
          }
        }
        &.cultivate a {
          background: url(../images/nurse/nurse3.png) no-repeat center 30px;
          @include screen("mobile") {
            background: url(../images/nurse/nurse3.png) no-repeat 0 0;
          }
          &:hover,
          &:focus {
            background-color: #dfdbf9;
          }
        }
        a {
          padding: 240px 30px 30px 30px;
          text-align: left;
          display: block;
          font-size: 1.5rem;
          color: #444;
          font-weight: bold;
          border-radius: 9px;
          box-shadow: 0px 5px 28px 0px rgba(34, 34, 34, 0.1);
          transition: all 0.5s;
          box-sizing: border-box;
          @include screen("mobile") {
            padding: 30px 30px 30px 190px;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-size: 80%;
          }
          &:hover,
          &:focus a {
            box-shadow: 0px 15px 40px 0px rgba(34, 34, 34, 0.2);
          }
          .en {
            display: block;
            word-wrap: break-word;
            font-size: 1.25rem;
            color: #888;
            margin-top: 8px;
            @include screen("mobile") {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
.nurseProject_sec {
  position: relative;
  height: 100%;
  min-height: 682px;
  display: flex;
  align-items: center;
  padding: 80px 0;
  box-sizing: border-box;
  @include screen("mobile") {
    min-height: auto;
    padding: 60px 0;
  }
  @include screen("mobile") {
    flex-direction: column;
  }
  &:before {
    content: "";
    display: block;
    min-height: 682px;
    background: url(../images/nurse/result_bg1.png) no-repeat center bottom;
    background-size: cover;
    position: absolute;
    left: calc(-3em - 15px);
    right: calc(-3em - 15px);
    top: 0;
    bottom: 0;
    z-index: 2;
  }
  &::after {
    content: "";
    width: 42%;
    max-width: 420px;
    height: 100%;
    display: block;
    background: url(../images/nurse/result_bg2.png) no-repeat right top,
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%),
      linear-gradient(
        180deg,
        rgba(107, 0, 214, 0.56) 0%,
        #a251b6 43.75%,
        #3c0456 100%
      );
    position: absolute;
    left: calc(-3em - 15px);
    top: 0;
    z-index: 1;
    @include screen("mobile") {
      display: none;
    }
  }
  .leftBlock {
    display: flex;
    flex-direction: column;
    margin-right: 45px;
    align-self: stretch;
    justify-content: center;
    @include screen("tablet") {
      margin-right: 35px;
    }
    @include screen("mobile") {
      margin-right: 0;
    }
    .h2title {
      z-index: 3;
      color: #fff;
      font-size: 1.875rem;
      margin: 0 0 30px 0;
      @include screen("mobile") {
        text-align: center;
        margin: 0 0 16px 0;
        color: #555;
        font-size: 1.5rem;
      }
      .entitle {
        display: block;
        font-size: 1.25rem;
        color: #fff;
        @include screen("mobile") {
          color: #888;
          font-size: 0.9375rem;
        }
      }
    }
  }

  .nurseProject {
    z-index: 3;
    max-width: calc(100% - 210px);
    background: #fff;
    box-shadow: 0px 14px 70px 0px rgba(34, 34, 34, 0.15);
    display: flex;
    align-self: stretch;
    justify-content: center;
    @include screen("mobile") {
      max-width: 100%;
    }
    .slick-track {
      height: 100%;
    }
    .projectResult {
      width: 100%;
      padding: 50px 50px 100px;
      box-sizing: border-box;
      @include screen("mobile") {
        padding: 70px 50px 100px 50px;
      }
      &.policy1 {
        background: #fff url(../images/nurse/result_bga.png) no-repeat right top;
        .project_plan {
          color: #b6107e;
        }
      }
      &.policy2 {
        background: #fff url(../images/nurse/result_bgb.png) no-repeat right top;
        .project_plan {
          color: #e52f24;
        }
      }
      &.policy3 {
        background: #fff url(../images/nurse/result_bgc.png) no-repeat right top;
        .project_plan {
          color: #5e1681;
        }
      }
      .project_plan {
        position: absolute;
        right: 18px;
        top: 25px;
        font-weight: bold;
        font-size: 1.125rem;
      }
      .project_title {
        font-size: 1.625rem;
        color: #444;
        font-weight: bold;
        line-height: 120%;
      }
      .project_text {
        margin-top: 1rem;
        p {
          margin-top: 0;
        }

        img {
          width: 100%;
        }
      }
      .more {
        margin-bottom: 0;
        text-align: right;
        position: absolute;
        right: 50px;
        bottom: 50px;
        a {
          background: #b6107e;
          &:hover,
          &:focus {
            background: linear-gradient(180deg, #ff9734 0%, #ff7b42 100%);
          }
        }
      }
    }
    .slick-arrow {
      top: auto;
      bottom: -30px;
      width: 47px !important;
      height: 47px !important;
      @include screen("mobile") {
        display: block;
        bottom: auto;
        top: 50%;
      }
      &:before {
        display: none;
      }
    }
    .slick-prev {
      left: -210px;
      background: url(../images/nurse/arrow_left.png) no-repeat 0 0;
      @include screen("mobile") {
        filter: invert(1);
        left: 0;
      }
    }
    .slick-next {
      right: auto;
      left: -145px;
      background: url(../images/nurse/arrow_right.png) no-repeat 0 0;
      @include screen("mobile") {
        filter: invert(1);
        left: auto;
        right: 0;
      }
    }
  }
}
.nurseNews_sec {
  position: relative;
  padding: 120px 0;
  display: flex;
  &:before {
    content: "";
    display: block;
    background: url(../images/nurse/news_bg.png) no-repeat left top;
    position: absolute;
    left: calc(-3em - 15px);
    right: calc(-3em - 15px);
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  h2.h2title {
    writing-mode: vertical-rl;
    font-size: 1.875rem;
    color: #333;
    margin-right: 70px;
    margin-top: 0;
    letter-spacing: 2px;
    z-index: 2;
    @include screen("tablet") {
      writing-mode: horizontal-tb;
      margin-right: 0;
      margin-bottom: 16px;
      font-size: 1.5rem;
      color: #555;
    }
    .entitle {
      margin-top: 0;
      color: #4f4f4f;
      font-size: 1.25rem;
      letter-spacing: 1px;
      @include screen("tablet") {
        color: #888;
        font-size: 0.9375rem;
      }
    }
  }
  .nurseNews_block {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    min-width: 0;
    .news {
      padding: 24px 24px 24px 130px;
      position: relative;
      box-shadow: 0px 7px 28px 0px rgba(34, 34, 34, 0.1);
      margin-bottom: 1rem;
      &.policy1 {
        background: url(../images/nurse/news_bg1.png) no-repeat left top,
          linear-gradient(90deg, #fff 30%, #ffeffa 100%);
        .news_plan {
          color: #b6107e;
        }
      }
      &.policy2 {
        background: url(../images/nurse/news_bg2.png) no-repeat left top,
          linear-gradient(90deg, #fff 30%, #fff7f6 100%);
        .news_plan {
          color: #e52f24;
        }
      }
      &.policy3 {
        background: url(../images/nurse/news_bg3.png) no-repeat left top,
          linear-gradient(90deg, #fff 30%, #faf8ff 100%);
        .news_plan {
          color: #5e1681;
        }
      }
      .news_plan {
        font-weight: bold;
        position: absolute;
        left: 24px;
        top: 24px;
        font-size: 1.125rem;
      }
      .news_date {
        color: #4f4f4f;
        margin-bottom: 4px;
      }
      .news_text {
        a {
          color: #444;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
