body {
  background: #dedcdd;
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
  }
}

// 最外圍預設為100%
.wrapper {
  // width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  @include screen("mobile") {
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
  }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  padding: 0;
  margin: 0 auto;
  max-width: $container-max; //請看_variable.scss
}

.main {
  position: relative;
  margin: 0 auto;
  padding: 84px 0 0 0; // max-width: $container-max;
  // 可先設定一個中央區塊最大寬，限制accesskey對齊
  @include screen("mobile") {
    padding-top: 55px;
  } // 內頁標題設定
  h1.title,
  h2.title {
    line-height: 1.25em;
    // margin: 0.4em 0;
    margin: 2.5em 0 2rem;
    font-size: 1.5em;
    color: #333;
    .entitle {
      font-size: 0.9375rem;
      // color: #888;
      color: #4c4c4c;
      line-height: 140%;
      display: block;
      margin-top: 4px;
    }
  }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
  padding: 380px 3em 3em 3em;
  background: #fff url(../images/inner_bg.png) no-repeat center top 84px;
  @include screen("mobile") {
    background: none;
    padding: 4em 1em 1em 1em;
  }
  > .container {
    @include gutter(); //gutter 代表左右要留白
  }
}

.loding-wrp {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(240, 190, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: $secondaryColor;
  font-weight: bold;
  img {
    margin-bottom: 10px;
  }
}

.innerpage.article_lp {
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 875px;
    bottom: 0;
    background: url(../images/bg_article_lp.png) repeat-y 0 0;
    @include screen("mobile") {
      background-size: 100% auto;
      top: 180px;
    }
  }
  h2.title {
    margin-top: 120px;
    position: relative;
    z-index: 2;
    @include screen("mobile") {
      margin: 0.4em 0;
    }
  }
  .function_panel {
    z-index: 2;
  }
  .lp {
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      width: 347px;
      height: 191px;
      background: url(../images/bg_world.png) no-repeat 0 0;
      display: block;
      position: absolute;
      right: 180px;
      top: -200px;
      z-index: -1;
      @include screen("mobile") {
        display: none;
      }
    }
    .divide {
      width: 100%;
      height: 3px;
      background: $primaryColor;
      margin-bottom: 80px;
      @include screen("mobile") {
        margin-bottom: 40px;
      }
    }
    .article_list {
      position: relative;
      margin-bottom: 150px;
      @include screen("mobile") {
        margin-bottom: 30px;
      }
      .article_list_title {
        color: #9d4694;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 24px;
      }
      ul {
        padding: 25px;
        margin: 0;
        background: rgba(255, 255, 255, 0.8);
        border-left: 4px solid #8f93e5;
        list-style: none;
        z-index: 4;
        position: relative;
        min-height: 160px;
        li {
          padding: 10px 0;
          font-weight: bold;
          a {
            color: #555;
          }
        }
      }
      .article_list_pic {
        width: 380px;
        height: 284px;
        position: absolute;
        z-index: 3;
        @include screen("mobile") {
          position: relative;
          width: 100%;
          height: auto;
          overflow: hidden;
        }
        img {
          width: 100%;
          height: auto;
          @include screen("mobile") {
            width: 100%;
            height: auto;
          }
        }
        + ul {
          margin-left: 38%;
          margin-top: 65px;
          @include screen("mobile") {
            margin-left: 0;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.innerpage.article_cp {
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 420px;
    bottom: 0;
    background: url(../images/bg_article_cp.png) repeat-y 0 0;
    @include screen("mobile") {
      background-size: 100% auto;
    }
  }
  .function_panel {
    z-index: 2;
  }
  h1.title {
    border-bottom: 3px solid $primaryColor;
    padding-bottom: 1rem;
    margin-top: 200px;
    position: relative;
    z-index: 2;
    @include screen("mobile") {
      margin: 0.4em 0;
    }
  }
  .cp {
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      width: 454px;
      height: 320px;
      background: url(../images/bg_heart.png) no-repeat 0 0;
      display: block;
      position: absolute;
      right: -63px;
      top: -320px;
      z-index: -1;
      @include screen("mobile") {
        display: none;
      }
    }
    .article_txt {
      padding: 40px 30px 20px 30px;
      margin: 40px 0;
      background: rgba(255, 255, 255, 0.85);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      @include screen("mobile") {
        margin: 0 0 40px 0;
      }
      .article_author {
        float: right;
        padding: 0.5rem 1rem;
        color: #fff;
        font-weight: bold;
        background: $primaryColor;
        border-radius: 3px;
        margin-bottom: 1rem;
      }
      p {
        clear: both;
      }
    }
    .article_comment {
      padding: 40px 30px 20px 30px;
      margin: 40px 0;
      background: rgba(255, 255, 255, 0.85);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      @include screen("mobile") {
        margin: 0 0 40px 0;
      }
      .article_judge {
        float: left;
        padding: 0.5rem 1rem;
        color: #fff;
        font-weight: bold;
        background: $primaryColor;
        border-radius: 3px;
        margin-bottom: 1rem;
      }
      p {
        clear: both;
      }
    }
  }
}
